<section>
  <div class="motivation row">
    <div class="col-12 col-lg-3">
      <div class="profile">
        <div class="logo">
          <img src="../../assets/image/moti-logo.PNG" alt="mo" class="img-fluid">
        </div>
        <div class="profile-picture">
          <img src="../../assets/image/mo-pro.PNG" alt="pofile-picture">
          <p>Anand Agarwal <br>
            <small>anand.a@bk.com</small>
          </p>
        </div>
        <div class="moto_list">
          <ul>
            <li><a href="">Motivation</a></li>
            <li><a href="">Productivity</a></li>
            <li><a href="">Design</a></li>
            <li><a href="">Study</a></li>
          </ul>
        </div>
        <div class="moto_rocket">
          <img src="../../assets/image/rocket.PNG" alt="rocket">
          <p>Pro account is more powerful.Get 30% off <br><button class="btn">Buy Now</button></p>

        </div>
        <p class="mt-4 logP">Logout</p>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="moti_gallery  p-4">
        <div class="moto_header">
          <h2 class="h2">Motivation</h2>
          <div class="avatar">
            <img src="../../assets/image/profile-illustration-gunaldi-yunus.png" alt="pic1" class="img-fluid pro_mot">
            <img src="../../assets/image/porfile-icon.png" alt="pic2" class="img-fluid pro_mot">
            <img src="../../assets/image/porfile-icon.png" alt="pic3" class="img-fluid pro_mot">
            <img src="../../assets/image/profile-illustration-gunaldi-yunus.png" alt="pic4" class="img-fluid pro_mot">
          </div>
        </div>
        <!-- gallery images list -->
        <div class="moto-gal-list">
          <ul>
            <li><a href="">All</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Podcast</a></li>
            <li><a href="">Video</a></li>
            <li><a href="">Downloads</a></li>
            <li><a href="">Buy All</a></li>
          </ul>
        </div>
        <div class="gallery-images">
          <!-- row one images -->
          <div class="row px-2">
            <div class="col-12 col-lg-4 build">
              <h2 class="text-white mt-5 pt-3" style="font-size: 26px;">Your limitation is your Imagination</h2>
            </div>
            <div class="col-12 col-lg-8 mt-3 mt-lg-0">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <img src="../../assets/image/sky.webp" alt="" class="img-fluid gal-img w-100 h-100">
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                  <img src="../../assets/image/banana.webp" alt="" class="img-fluid gal-img w-100 h-100">
                </div>
              </div>
              <div class="col-12 lamp mt-3 ">
              </div>
            </div>

          </div>
          <!-- row two images -->
          <div class="row pt-4 mt-3 mt-lg-0">
            <div class="col-12 col-lg-4 h-75">
              <img src="../../assets/image/ship.webp" alt="" class="img-fluid gal-img  ">
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <img src="../../assets/image/light.webp" alt="" class="img-fluid gal-img w-100 ">
              <img src="../../assets/image/coffee.webp" alt="" class="img-fluid gal-img w-100 pt-3 ">
            </div>
            <div class="col-12 col-lg-4 h-lg-75 mt-3 mt-lg-0">
              <img src="../../assets/image/coffee.webp" alt="" class="img-fluid gal-img w-100 ">
              <img src="../../assets/image/light.webp" alt="" class="img-fluid gal-img w-100 pt-3 ">

            </div>
          </div>
          <!-- row three images -->

          <div class="row pt-lg-2 mt-3 mt-lg-0">
            <div class="col-12 col-lg-4"><img src="../../assets/image/cup.webp" alt=""
                class="img-fluid gal-img w-100 h-75"></div>
            <div class="col-12 col-lg-8 mt-3 mt-lg-0"><img src="../../assets/image/boat.webp" alt=""
                class="img-fluid gal-img w-100 h-75">
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
