<section class="dashboard">
  <div class="header_top">
    <ul>
      <li><a href=""><i class="fa fa-bell" aria-hidden="true"></i></a></li>
      <li>
        <a href="">
          <span>John Bayer</span>
          <img src="../../assets/image/porfile-icon.png" alt="profile-icon" class="img-fluid header_top_image">
          <span class="fa fa-angle-down"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="header_bottom">
    <div class="header_title">
      <h3>Dashboard</h3>
      <p>Monday, <span class="text-primary">02 July 2020</span></p>
    </div>
    <div class="header_search">
      <button class="btn btn-primary mb-3 mb-md-0">+ Add</button>
      <span class="fa fa-search"></span>
      <input type="text" placeholder="Search For Application Here">
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
